<div id="<%= dom_id message %>">
  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= message.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= message.invoice_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= message.status %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= message.email %>
  </p>

</div>
