 

<% content_for :title, "Invoices" %>

<div class="header">
  <h1>Invoices</h1>
  <%= link_to "New invoice", new_invoice_path %>
</div>

<div id="invoices"> 
  <table> 
  <% @invoices.each do |invoice| %>
    <tr>

        <td width="60"> <%= link_to invoice do %>
            <div class="block"><%=invoice.customer.name[0] %></div>
          <% end %>
        </td>
        <td><%=invoice.invoice_date%></td>
        <td><%=link_to invoice.customer.name, invoice.customer%></td> 
        <td><%=invoice.customer.email%> </td> 
        <td><%=number_to_currency invoice.amount, unit:"R "%> </td> 
        <td><%=time_ago_in_words invoice.updated_at%> ago</td> 
        <td><%=invoice.status%> </td> 
  <% end %>
  </table>
</div>

