

<div class="header">
  <h1>Invoice</h1>
    <%= link_to "Edit", edit_invoice_path(@invoice) %> 
  <%= link_to 'Download PDF', download_pdf_path, target: "_blank" %>
  <%= link_to 'Send Invoice', new_message_path  %>
</div>



<div class="invoice">
  <div  class="invoice-details"> 
      <%= render @invoice %>

    <br>
      <h2>Items</h2>
 
      <%= render "items/form", item: @item %> 
     
<table>
  <% @invoice.items.all.each do |item|%>
  <tr>
      <td><%=item.description%></td>
      <td><%=number_to_currency item.price, unit:"R "%></td>
      <td><%=item.quantity%></td>
      <td><%=number_to_currency item.quantity*item.price, unit:"R "%></td>
      <td><%= link_to "Edit", edit_item_path(item) %> </td> 
      <td><%= button_to "Delete", item, method: :delete %></td> 
  </tr>
  <% end %>
</table> 
  </div>
  <div  class="invoice-actions">
  <h3>Invoice Actions</h3> 
  </div>
  </div>
  </div>  

 
 