<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>
<div class="header">
<h1>Customers</h1>

<%= link_to "New customer", new_customer_path %>
</div>
<div id="customers">
  <table>
  <% @customers.each do |customer| %>
    <tr> 


        <td width="60"> <%= link_to customer do %>
            <div class="block"><%=customer.name[0] %></div>
          <% end %>
        </td>
        <td><%=link_to customer.name ,customer %></td>
        <td><%=customer.email%></td>
        <td><%=customer.phone%></td> 
        <td><%=time_ago_in_words customer.created_at%> ago</td>
        <td> <%= link_to "Edit", edit_customer_path(customer) %></td>
  <% end %>
  </table>
 
</div>

