<%= form_with(model: item ) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <%= form.hidden_field :invoice_id %>
 
  <div class="form-flex-row">
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description ,class:"i-description"%>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price ,class:"i-price"%>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.text_field :quantity  ,class:"i-qty"%>
  </div>

  <div>  
    <%= form.submit "ADD" , class:"i-add" ,style:"width:100px; margin-top: 20px;" %>
  </div>
  </div>
<% end %>
