<div id="<%= dom_id item %>">
  <p>
    <strong>Invoice:</strong>
    <%= item.invoice_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

</div>
